@font-face
{
    font-family: 'Pokemon';
    src: url('pokemon.eot');
    src: url('pokemon.eot') format('embedded-opentype'), url('pokemon.woff') format('woff'),
    url('pokemon.ttf') format('truetype'), 
    url('pokemon.svg') format('svg');
}

body
{
    font-size: 20px;
    background-image: url('background.jpg');
    text-align: center;
    font-family: 'Arial', sans-serif;
}

td, th
{
    border: 1px solid #000000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 200px;
}

th
{
    background-color: white;
    font-size: 24px;
    height: 100px;
}

tr:nth-child(even)
{
    background-color: rgba(0, 230, 64, 0.8);
}

tr:nth-child(odd)
{
    background-color: rgba(95, 241, 204, 0.8);
}

table
{
    margin: auto;
    border-collapse: collapse;
}

button
{
    margin-bottom: 20px;
}

h3
{
    font-size: 24px;
    color: rgba(30, 139, 195, 1);
    text-shadow: 0.5px 0.5px #000000;
    margin-bottom: 0px;
}

p
{
    margin-top: 5px;
}

ul, ol
{
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

li
{
    font-size: 20px;
    text-transform: capitalize;
}

td:hover
{
    background-color: rgba(240, 255, 0, 0.5);
}

h1
{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: red;
}

#bigbox>img
{
    width: 500px;
    height: 500px;
    margin-top: 50px;
}

#bigbox, #stat
{
    background-color: white;
}

#bigbox
{
    width: 600px;
    margin: auto;
    border-radius: 20px;
}

#header
{
    font-family: Pokemon, sans-serif;
    color: yellow;
    margin-bottom: 10px;
    letter-spacing: 0.75em;
    font-size: 80px;
    margin-left: 50px;
    text-shadow:
		-2px -2px 0 #000099,
		2px -2px 0 #000099,
		-2px 2px 0 #000099,
		2px 2px 0 #000099;
}

.pokename
{
    font-weight: bold;
    text-transform: capitalize;
}

h4
{
    font-weight: 200;
    margin-top: 0px;
    font-size: 33px;
    letter-spacing: 0.15em;
    text-align: center;
    margin-bottom: 60px;
}

#info
{
    background-color: transparent;
    border: none;
    //float: left;
    margin-top: 50px;
}

#pokeinfo>tr>td
{
    background-color: white;
    border: none;
}

#namepoke
{
    color: blue;
}